.DS_Store

# pnpm
node_modules
.pnpm-store/
pnpm-lock.yaml

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Build
**/dist/

# Misc
set_env_vars.sh
credentials.json
*.tsbuildinfo

# Terraform
.terraform/
*.backup
.terraform.lock.hcl
**/lambda.zip